<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quest of Corona</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css"/>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!--RPGUI stylesheet - contained in RPGUI folder located in layouts-->
    <link rel="stylesheet" type="text/css" href="/RPGUI/dist/rpgui.min.css">
    <script src="/RPGUI/dist/rpgui.min.js"></script>
</head>


<body>
    {{{ body }}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/movePlot.js"></script>
    <script src="/js/createCharacter.js"></script>

</body>
</html>
