<div class="rpgui-container framed" style="position: relative;">
        <!--Top Div/user and boss information-->
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="rpgui-container framed-golden-2" style="margin:15px 0px 0px 0px">
                        <h1>USER Stats</h1>
                        <ul>
                            <li>at each turn, add line of action</li>
                            <li>i.e - enemy rushed forward and stung user</li>
                        </ul>
                        <!--user health bar-->
                        <div id="hp-bar" data-value="1" class="rpgui-progress green" data-rpguitype="progress">
                            <div class=" rpgui-progress-track">
                                <div class=" rpgui-progress-fill red" style="left: 0px; width: 10%;">
                                </div>
                            </div>
                            <div class=" rpgui-progress-left-edge">
                            </div>
                            <div class=" rpgui-progress-right-edge">
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="col-7">
                    
                    <div class="rpgui-container framed-golden-2" style="margin:15px 0px 0px 50px; width:50%">
                        <h3>Boss HP</h3>
                        <!--Boss health bar-->
                        <div id="hp-bar" data-value="1" class="rpgui-progress red" data-rpguitype="progress">
                            <div class=" rpgui-progress-track">
                                <div class=" rpgui-progress-fill red" style="left: 0px; width: 10%;">
                                </div>
                            </div>
                            <div class=" rpgui-progress-left-edge">
                            </div>
                            <div class=" rpgui-progress-right-edge">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr class="golden">
                    <br>
                    <div style="margin:15px 0px 0px 50px;">
                    <img src="https://www.raritanheadwaters.org/wp-content/uploads/2018/01/large-image-placeholder.jpg" style="width:100%;height:auto ">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr class="golden">
        <br>
        <!--Bottom div/action options-->
        <div class="container">
            <div class="row rpgui-center">
                <div class="col">
                    <button type="button" class="rpgui-button" style="width:32%;">
                        <p>Attack</p>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="rpgui-button" style="width:32%;">
                        <p>Block</p>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="rpgui-button" style="width:32%;">
                        <p>Heal</p>
                    </button>
                </div>
            </div>
        </div>
    </div>