 <div
      class="rpgui-container framed-golden rpgui-content"
      style="width: 100%; height: 100%;"
    >
      <div>
 {{!-- if  lvl 1, call image 1, etc --}}
        <img src="#" class="plot-bg" alt=""/>
      </div>
      <div>
          {{!-- Next button, leads to battle.handlebars --}}
        <button class="rpgui-button uk-flex-between" type="click" id="plotNextBtn" level="{{currentPath}}"><label>Next</label>
      </div>
      <div class="rpgui-container framed-grey" id="plottext">
          for text
      </div>
    </div> 