    <div
      class="rpgui-container framed-golden rpgui-content rpgui-cursor-default"
      style="width: 100%; height: 100%; overflow-y:scroll"
    >
      <div
        class="rpgui-container framed-golden-2"
        style="width: 95%; text-align: center;"
      >
        <h1 id="header">Welcome {{username}}</h1>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <hr class="golden" />
        <div class="uk-width-auto@m uk-grid-divider">
          <div class="rgui-content" id="welcomediv">
              <h1>How To Play!</h1>
            <p>insert rules here</p>
            </div>
            <br>
            <hr>
            <div id="choosechar">
                <form class="create-character">
              <h3>Create Character</h3>
              <p>Choose your character class</p>
              <div id="charselect" uk-grid>
                    <div>
                        <img src="#">
                        <input class="rpgui-radio" name="character-class" type="radio" value="1" data-rpguitype="radio"><label>Covid Knight</label>
                   </div>
                   <br>
                    <div>
                        <img src="/images/ninja.png">
                        <input class="rpgui-radio" name="character-class" type="radio" value="2" data-rpguitype="radio"><label>Covid Ninja</label>
                    </div>
                    <br>
                    <div>
                        <img src="#">
                        <input class="rpgui-radio" name="character-class" type="radio" value="3" data-rpguitype="radio"><label>Covid Mage</label>
                    </div>
                    <br>
                    <div>
                        <img src="#">
                        <input class="rpgui-radio" name="character-class" type="radio" value="4" data-rpguitype="radio"><label>Covid Warlock</label>
                    </div> 
               </div>     
              
               <hr>
              </form>
            </div>
          </div>
          <footer>
            <blockquote class="uk-column-span uk-flex uk-flex-center">
            <p>Adventure lies before the path of those who choose it.</p>
            <button class="rpgui-button uk-flex-between" type="button" id="startBtn"><p>Start</p></button>
            </blockquote>
           </footer> 
        </div>
      </div>