    <div
      class="rpgui-container framed-golden rpgui-content rpgui-cursor-default"
      style="width: 100%; height: 100%; overflow-y:scroll"
    >
      <div
        class="rpgui-container framed-golden-2"
        style="width: 95%; text-align: center; margin:10px;"
      >
        <h1 id="header">Welcome {{username}}</h1>
      </div>

        <div class="uk-width-auto@m uk-grid-divider">
          <div class="rgui-content" id="welcomediv">
              <h1>How To Play!</h1>
            <p>Lorem ipsum dolor sit amet, malorum utroque gloriatur ei mei, vim mazim dicit ut, unum oratio ex ius. Saepe contentiones et eum, eam id habeo nominavi, te vis homero similique. Eu vix purto minimum mnesarchum, pro purto omnes volutpat at. Facilis quaestio ocurreret cum an. Sit id quod tempor pertinacia, ex feugait cotidieque vix, ius in dolore deseruisse.

Eam fierent insolens id. At aeque movet consulatu vel. Ne nusquam voluptua detraxit has, elitr inermis ne est. Pri lorem augue eu, quaeque diceret patrioque id mea. Erat sensibus abhorreant ne vis. Ius dicunt molestie dissentiet an, inermis oportere at vis.</p>
            </div>
            <br>
            <hr class="golden" />
            <div id="choosechar">
                <form class="create-character">
              <h3>Create Character</h3>
              <p>Choose your character class</p>
              <div id="charselect">
                    <div>
                        <img src="/images/knight2.gif">
                        <input class="rpgui-radio" name="character-class" type="radio" value="1" data-rpguitype="radio"><label>Covid Knight</label>
                   </div>
                    <div>
                        <img src="/images/ninja.png">
                        <input class="rpgui-radio" name="character-class" type="radio" value="2" data-rpguitype="radio"><label>Covid Ninja</label>
                    </div>
                    <div>
                        <img src="/images/mage2.gif">
                        <input class="rpgui-radio" name="character-class" type="radio" value="3" data-rpguitype="radio"><label>Covid Mage</label>
                    </div>
                    <div>
                        <img src="/images/warlock200.gif">
                        <input class="rpgui-radio" name="character-class" type="radio" value="4" data-rpguitype="radio"><label>Covid Warlock</label>
                    </div> 
               </div>     
              
               <hr>
              </form>
            </div>
          </div>
          <footer>
            <blockquote class="uk-column-span uk-flex uk-flex-center">
            <p>Adventure lies before the path of those who choose it.</p>
            </blockquote>

            <button class="rpgui-button uk-flex-between" type="button" id="startBtn"><p>Start</p></button>

           </footer> 
        </div>
      </div>