form.signup,
form.login {
  margin-top: 50px;
}

footer {
  align-content: space-around;
  max-height: 50%;
}

h1{
  font-family:'Press Start 2P', cursive;
  text-align: center;
}

h3{
  font-family:'Press Start 2P', cursive;
  text-align: center;
  color:white;
}

h5{
  font-family:'Press Start 2P', cursive;
  text-align: center;
  color:whitesmoke;
}

p{
  font-family:'Press Start 2P', cursive; 
  color: whitesmoke
}

header{
  font-size: larger;
}

#rpgui-button{
      text-align: center;
      overflow: auto;
      justify-content: center;
      align-items: center;

  }

#content{
  align-content: center;
}

#endcont{
  min-height: 100%;
  display: block; 
  left: auto; 
  margin-right: auto;
  text-align: center;
}

#endImage{
  display: block; 
  left: auto; 
  margin-right: auto;
}

#endTitle{
  margin-top: 50px;
  color: rgb(194, 136, 136);
}

button{
  display: block;
  text-align: center; 
  justify-content: space-between;
  padding: 19px;
  text-decoration-color: black;
} 

#signupdiv{
  float: left;
  width: 45%;
}
  
#logindiv{
  float: right;
  width: 45%;
}

#bottomdiv{
  position: relative;
  top: 150px;
}

#bottomindexdiv{
  padding-top: 50px;
}

#topindexdiv{
  justify-content: space-between;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

#mainindexdiv{
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  position: fixed;
  width: 100%;
  height:50%;
}

#loginBtn{
  position: absolute;
  margin-bottom: 50px;
}

#signupBtn{
  position: absolute;
  margin-bottom: 50px;
}

#welcomediv{
  text-align: center;
}

#choosechar{
  text-align: center;
}

#charselect{
  justify-content: space-between;
}

#startBtn{
  align-content: center;
}
#plottext{
  position: absolute; 
  bottom: 20px;
  width: 98%;
  height:35%;
}